permissions:
  contents: read
  packages: write


name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest
        
      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker image
        run: docker build -t ghcr.io/mmaszka/ml-cicd:latest .

      - name: Push Docker image
        run: docker push ghcr.io/mmaszka/ml-cicd:latest

      - name: Restart Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ml-cicd-demo
          slot-name: production
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
              
